absl-py==1.4.0
aiohttp==3.8.1
aiosignal==1.2.0
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astropy==5.2.1
# asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
# backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.11.1
bertviz==1.4.0
biopython==1.81
bleach==5.0.1
Boruta==0.3
boto==2.49.0
boto3==1.26.15
botocore==1.29.15
brotlipy==0.7.0
cachetools==5.2.0
# certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.0
chex==0.1.6
contextlib2==21.6.0
crcmod==1.7
# cryptography @ file:///tmp/build/80754af9/cryptography_1652101588599/work
cycler==0.11.0
# debugpy @ file:///home/builder/ci_310/debugpy_1640789504635/work
# decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
# DeepBeta==0.0.1
defusedxml==0.7.1
dm-haiku==0.0.9
dm-tree==0.1.8
docker==6.0.1
docopt==0.6.2
# entrypoints @ file:///tmp/build/80754af9/entrypoints_1649908313000/work
et-xmlfile==1.1.0
# executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fasteners==0.18
fastjsonschema==2.15.3
filelock==3.8.0
flatbuffers==23.1.21
fonttools==4.34.4
frozenlist==1.3.1
gast==0.4.0
gcs-oauth2-boto-plugin==3.0
git-lfs==1.6
google-apitools==0.5.32
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-reauth==0.1.1
GPUtil==1.4.0
grpcio==1.51.1
gsutil==5.13
h5py==3.8.0
httplib2==0.20.4
huggingface-hub==0.10.1
idna==2.10
immutabledict==2.2.3
# ipykernel @ file:///tmp/build/80754af9/ipykernel_1647000775989/work/dist/ipykernel-6.9.1-py3-none-any.whl
# ipython @ file:///opt/conda/conda-bld/ipython_1651600145335/work
ipython-genutils==0.2.0
ipywidgets==7.7.1
jax==0.4.4
jaxlib==0.4.4
# jedi @ file:///tmp/build/80754af9/jedi_1644315229345/work
Jinja2==3.1.2
jmespath==1.0.1
jmp==0.0.4
joblib==1.2.0
jsonschema==4.6.2
jupyter==1.0.0
# jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1650622202839/work
jupyter-console==6.4.4
# jupyter-core @ file:///opt/conda/conda-bld/jupyter_core_1651671229925/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keras==2.11.0
kiwisolver==1.4.3
libclang==15.0.6.1
llvmlite==0.38.1
lmdb==1.4.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.1
# matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune==0.8.4
mkl-fft==1.3.1
# mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
ml-collections==0.1.1
monotonic==1.6
multidict==6.0.2
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
# nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649830051683/work
notebook==6.4.12
numba==0.55.2
numpy==1.21.5
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
# parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
# pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
# pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.2.0
pipreqs==0.4.13
prometheus-client==0.14.1
# prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.6
# ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
# pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
# pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyerfa==2.0.0.1
# Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
# pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pyrsistent==0.18.1
# PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
# python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytorch-ranger==0.1.1
pytz==2022.1
pyu2f==0.1.5
PyYAML==6.0
# pyzmq @ file:///home/builder/ci_310/pyzmq_1640794096902/work
qtconsole==5.3.1
QtPy==2.1.0
regex==2022.9.13
requests==2.28.2
requests-oauthlib==1.3.1
retry-decorator==1.1.1
rsa==4.7.2
s3transfer==0.6.0
scikit-learn==1.1.3
scikit-learn-extra==0.3.0
scipy==1.8.1
seaborn==0.12.1
Send2Trash==1.8.0
sentencepiece==0.1.96
# six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post1
soupsieve==2.3.2.post1
# stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
tabulate==0.9.0
tape-proteins==0.5
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.11.0
tensorflow-cpu==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.13.1
toolz==0.12.0
torch==1.12.0
torch-optimizer==0.3.0
torchaudio==0.12.0
torchvision==0.13.0
# tornado @ file:///home/builder/ci_310/tornado_1640795392144/work
tqdm==4.64.1
traitlets==5.3.0
transformers==4.23.1
typing_extensions==4.3.0
urllib3==1.26.10
# wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==3.6.1
wrapt==1.14.1
yarg==0.1.9
yarl==1.8.1

d2l==0.17.5
